/*! CSS Used from: https://beuger.dev/_next/static/css/5ec268414b4aedf5.css */
body a,body div,html a,html div{-webkit-tap-highlight-color:rgba(0,0,0,0);
}
*{-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
/*! CSS Used from: https://beuger.dev/_next/static/css/044b57751db02551.css */
.neustyles_neuelement__g6509{--card-offset:5px;
--card-radius:10px;
}
.neustyles_neuelement__g6509.neustyles_md__hxR9M{--card-offset:20px;
--card-radius:40px;
}
.neustyles_neuelement__g6509.neustyles_flat__pK6Dk{background:#e0e0e0;
}
.neustyles_neuelement__g6509.neustyles_flat__pK6Dk{-webkit-box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,-moz-calc(var(--card-offset) * -1) -moz-calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
}
.neustyles_neuelement__g6509.neustyles_concave__PyiQ4{background:-moz-linear-gradient(305deg,#cacaca,#f0f0f0);
background:linear-gradient(145deg,#cacaca,#f0f0f0);
-webkit-box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,-moz-calc(var(--card-offset) * -1) -moz-calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
}
.neustyles_neuelement__g6509.neustyles_pressed__pJSoq{background:#e0e0e0;
-webkit-box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset -moz-calc(var(--card-offset) * -1) -moz-calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
}
.neustyles_neuelement__g6509.neustyles_hoverable__cli31{-webkit-transition:.4s cubic-bezier(0,.57,.49,1.51);
-moz-transition:.4s cubic-bezier(0,.57,.49,1.51);
transition:.4s cubic-bezier(0,.57,.49,1.51);
}
.neustyles_neuelement__g6509.neustyles_hoverable__cli31:hover{background:#e0e0e0;
-webkit-box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset -moz-calc(var(--card-offset) * -1) -moz-calc(var(--card-offset) * -1) var(--card-radius) #fff;
box-shadow:inset var(--card-offset) var(--card-offset) var(--card-radius) #bebebe,inset calc(var(--card-offset) * -1) calc(var(--card-offset) * -1) var(--card-radius) #fff;
-webkit-transform:scale(.95);
-moz-transform:scale(.95);
transform:scale(.95);
}
.heading_heading__BmiKu{font-weight:700;
}
.text_text__X_SCG{font-size:var(--bit-p-md);
color:var(--bit-text-color);
}
.card_card__Kbq2O{border-radius:1rem;
position:relative;
}
.card_bg__hahqf{background-size:cover;
width:100%;
height:10rem;
background-position:50%;
border-radius:1rem;
}
.card_tags__Fc10t{display:-moz-box;
display:flex;
grid-gap:1rem;
gap:1rem;
-moz-box-pack:center;
justify-content:center;
}
.circle_circle__DBGs_{padding:.5rem;
border-radius:100%;
display:-moz-box;
display:flex;
-moz-box-pack:center;
justify-content:center;
align-content:center;
height:auto;
}
.circle_circle__DBGs_ img{width:100%;
border-radius:100%;
}
.about_about__Az2oT{height:80vh;
display:-moz-box;
display:flex;
grid-gap:2rem;
gap:2rem;
-moz-box-pack:justify;
justify-content:space-between;
-moz-box-align:center;
align-items:center;
-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-direction:column;
}
@media only screen and (min-width:992px){
.about_about__Az2oT{-moz-box-orient:horizontal;
-moz-box-direction:normal;
flex-direction:row;
}
}
.about_about__Az2oT h1{font-family: 'Vazirmatn', sans-serif;font-size:7rem;margin:2rem 0;line-height:1;}
.about_about__Az2oT h1,.about_about__Az2oT p{text-align:center;
}
@media only screen and (min-width:992px){
.about_about__Az2oT h1,.about_about__Az2oT p{text-align:right;
}
}
.about_portrait__enNfK{display:none;
}
@media only screen and (min-width:992px){
.about_portrait__enNfK{display:block;
}
}
.about_tech__qrQ88{font-family: 'Vazirmatn', sans-serif;
text-align:center;
}
@media only screen and (min-width:992px){
.about_tech__qrQ88{text-align:left;
}
}
.about_sec__W7kO5{-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-flow:column;
max-width:1250px;
}
.about_hi__C9eWr,.about_sec__W7kO5{display:-moz-box;
display:flex;
-moz-box-pack:center;
justify-content:center;
}
.about_hi__C9eWr{margin:0;
-moz-box-align:center;
align-items:center;
font-family: 'Vazirmatn', sans-serif;
font-size:1rem;
}
@media only screen and (min-width:992px){
.about_hi__C9eWr{-moz-box-pack:left;
justify-content:left;
}
}
.about_base__XaBky{display:-moz-box;
display:flex;
-moz-box-align:center;
align-items:center;
-moz-box-pack:center;
justify-content:center;
grid-gap:.4rem;
gap:.4rem;
}
@media only screen and (min-width:992px){
.about_base__XaBky{-moz-box-pack:left;
justify-content:left;
}
}
.about_base__XaBky img{width:2rem;
}
.about_short__WW4c4{
color:rgb(158	171	190);
font-weight:700;
margin-top: 1rem;
margin-bottom:1rem;
display:-moz-box;
display:flex;
-moz-box-align:center;
align-items:center;
-moz-box-pack:center;
justify-content:center;
}
.about_short__WW4c4 span{font-weight:400;
}
@media only screen and (min-width:992px){
.about_short__WW4c4{-moz-box-pack:left;
justify-content:left;
}
.about_half__9V_yN{width:40%;
}
}
.about_half__9V_yN a{text-decoration:none;
position:relative;
color:#000;
text-decoration:underline;
}
.about_half__9V_yN a,.about_half__9V_yN a:hover{-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
transition:all .2s linear;
}
.about_half__9V_yN a:hover{color:rgba(0,0,0,.6);
}
.about_sliders__8H1Ld{display:none;
}
@media only screen and (min-width:992px){
.about_sliders__8H1Ld{display:-moz-box;
display:flex;
-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-direction:column;
grid-gap:2rem;
gap:2rem;
padding:3rem 0 0;
}
}
.about_slidersMobile__shB0C{display:-moz-box;
display:flex;
-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-direction:column;
grid-gap:2rem;
gap:2rem;
padding:1rem 0 0;
}
@media only screen and (min-width:992px){
.about_slidersMobile__shB0C{display:none;
}
}
.slider_slider__u3MkS{height:100px;
margin:auto;
overflow:hidden;
position:relative;
width:100vw;
-moz-box-align:center;
align-items:center;
}
.slider_slider__u3MkS,.slider_track__omTED{display:-moz-box;
display:flex;
}
.slider_slide__koZFg{width:250px;
height:100px;
display:-moz-box;
display:flex;
-moz-box-pack:center;
justify-content:center;
-moz-box-align:center;
align-items:center;
}
.slider_slide__koZFg img{height:3rem;
}
.link_link__GQmM4{border-radius:10px;
}
.projects_projects__bBq2K{max-width:1250px;
margin:5rem 0 0;
}
@media only screen and (min-width:992px){
.projects_projects__bBq2K{width:100vw;
margin:15rem 0 0;
}
}
.projects_projects__bBq2K h2{font-family: 'Vazirmatn', sans-serif;
text-align:center;
}
@media only screen and (min-width:992px){
.projects_projects__bBq2K h2{text-align:left;
}
}
.projects_feed__WE9sB{display:-moz-box;
display:flex;
padding:2rem;
grid-gap:8rem;
gap:8rem;
-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-direction:column;
}
@media only screen and (min-width:992px){
.projects_feed__WE9sB{padding:5rem 0;
grid-gap:5rem;
gap:5rem;
-moz-box-orient:horizontal;
-moz-box-direction:normal;
flex-direction:row;
}
}
.projects_feed__WE9sB h3{font-family: 'Vazirmatn', sans-serif;
margin-top:2rem;
font-size:2rem;
}
.projects_feed__WE9sB p{line-height:1.2;
font-size:1rem;
color:rgba(0,0,0,.6);
margin:0;
}
.projects_feed__WE9sB div{flex-basis:100%;
}
.projects_feed__WE9sB div div{font-size:.8rem;
flex-basis:unset;
display:-moz-box;
display:flex;
flex-wrap:wrap;
}
.projects_links__Ezfk_{display:-moz-box;
display:flex;
grid-gap:2rem;
gap:2rem;
padding:3rem 0;
-moz-box-align:center;
align-items:center;
-moz-box-pack:center;
justify-content:center;
}
.projects_links__Ezfk_ a{text-decoration:none;
color:#000;
}
.connect_connect__cMkQL{width:100vw;
max-width:1250px;
margin:8rem 0;
display:-moz-box;
display:flex;
-moz-box-align:center;
align-items:center;
-moz-box-pack:center;
justify-content:center;
}
@media only screen and (min-width:992px){
.connect_connect__cMkQL{margin:15rem 0 0;
}
}
.connect_connectors__GOBPj{grid-gap:4rem;
gap:4rem;
}
.connect_connectors__GOBPj{display:-moz-box;
display:flex;
-moz-box-pack:center;
justify-content:center;
-moz-box-align:center;
align-items:center;
}
.container_container__Dzq7s main{padding:2rem 0 0;
-moz-box-flex:1;
flex:1 1;
display:-moz-box;
display:flex;
-moz-box-orient:vertical;
-moz-box-direction:normal;
flex-direction:column;
-moz-box-pack:center;
justify-content:center;
-moz-box-align:center;
align-items:center;
width:100%;
}
@media only screen and (min-width:992px){
.container_container__Dzq7s main{padding:5rem 0;
}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Baloo Thambi 2';
font-style:normal;
font-weight:800;
font-display:swap;
src:url(https://fonts.gstatic.com/s/baloothambi2/v9/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUzag.woff) format('woff');
}
@font-face{font-family:'Baloo Thambi 2';
font-style:normal;
font-weight:800;
font-display:swap;
src:url(https://fonts.gstatic.com/s/baloothambi2/v9/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUDeA5B3Hs4sNzhNMc.woff) format('woff');
unicode-range:U+0964-0965,U+0B82-0BFA,U+200C-200D,U+20B9,U+25CC;
}
@font-face{font-family:'Baloo Thambi 2';
font-style:normal;
font-weight:800;
font-display:swap;
src:url(https://fonts.gstatic.com/s/baloothambi2/v9/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUDYQ5B3Hs4sNzhNMc.woff) format('woff');
unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
@font-face{font-family:'Baloo Thambi 2';
font-style:normal;
font-weight:800;
font-display:swap;
src:url(https://fonts.gstatic.com/s/baloothambi2/v9/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUDYA5B3Hs4sNzhNMc.woff) format('woff');
unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
@font-face{font-family:'Baloo Thambi 2';
font-style:normal;
font-weight:800;
font-display:swap;
src:url(https://fonts.gstatic.com/s/baloothambi2/v9/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUDbg5B3Hs4sNzh.woff) format('woff');
unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
.hamburger{padding:10px;display:inline-block;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,-webkit-filter;-moz-transition-property:opacity,filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;-moz-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;-moz-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible;}

.hamburger:hover{opacity:.7;}
.hamburger-box{width:25px;height:17px;display:inline-block;position:relative;}
.hamburger-inner{display:block;top:50%;margin-top:-1.5px;}
.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before{width:25px;height:3px;background-color:rgba(0,0,0,.6);border-radius:4px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-moz-transition-property:transform,-moz-transform;transition-property:transform;transition-property:transform,-webkit-transform,-moz-transform;-webkit-transition-duration:.15s;-moz-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;transition-timing-function:ease;}
.hamburger-inner:after,.hamburger-inner:before{content:"";display:block;}
.hamburger-inner:before{top:-7px;}
.hamburger-inner:after{bottom:-7px;}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;-webkit-transition-duration:.13s;-moz-transition-duration:.13s;transition-duration:.13s;-webkit-transition-delay:.13s;-moz-transition-delay:.13s;transition-delay:.13s;-webkit-transition-timing-function:cubic-bezier(.55,.055,.675,.19);-moz-transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-timing-function:cubic-bezier(.55,.055,.675,.19);}
.hamburger--collapse .hamburger-inner:after{top:-14px;-webkit-transition:top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;-moz-transition:top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;transition:top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;}
.hamburger--collapse .hamburger-inner:before{-webkit-transition:top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,-webkit-transform .13s cubic-bezier(.55,.055,.675,.19);transition:top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,-webkit-transform .13s cubic-bezier(.55,.055,.675,.19);-moz-transition:top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19),-moz-transform .13s cubic-bezier(.55,.055,.675,.19);transition:top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);transition:top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19),-webkit-transform .13s cubic-bezier(.55,.055,.675,.19),-moz-transform .13s cubic-bezier(.55,.055,.675,.19);}
 .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  /* .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  } */
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateX(+100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(150, 150, 150);
    color: white;
    list-style: none;
    padding-top: 4rem;

    font-family: 'Vazirmatn', sans-serif;text-align:center;    
  }
  
  .showMenu {
    transform: translateX(0);
  }
body,html{overflow-x:hidden;padding:0;margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;background-color:#e0e0e0;}




.button_button__QjMYf{border-radius:50px;padding:2rem;cursor:pointer;}

@media only screen and (max-width:992px){
.menu_header__qLgek{display:-moz-box;display:flex;padding:1rem;-moz-box-pack:end;justify-content:flex-end;width:100%;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;grid-gap:2rem;gap:2rem;}
}
.menu_header__qLgek div[class^=card]{width:2rem;height:2rem;margin:0;display:-moz-box;display:flex;-moz-box-pack:center;justify-content:center;-moz-box-align:center;align-items:center;position:absolute;top:1rem;right:1rem;}
@media only screen and (min-width:992px){
.menu_header__qLgek div[class^=card]{display:none;}
}
.menu_menu__iBZk2{display:none;color:rgba(0,0,0,.6);font-family: 'Vazirmatn', sans-serif;text-align:center;}
@media only screen and (min-width:998px){
.menu_menu__iBZk2{display:-moz-box;display:flex;grid-gap:2rem;gap:2rem;padding:2rem 0;-moz-box-pack:end;justify-content:flex-end;width:100vw;max-width:1200px;}
}
.menu_mobileMenu__F1TEz{margin-top:-22rem;padding-bottom:8rem;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;display:-moz-box;display:flex;-moz-box-pack:center;justify-content:center;-moz-box-align:center;align-items:center;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;grid-gap:2rem;gap:2rem;color:rgba(0,0,0,.6);}

.about_about__Az2oT{height:80vh;display:-moz-box;display:flex;grid-gap:2rem;gap:2rem;-moz-box-pack:justify;justify-content:space-between;-moz-box-align:center;align-items:center;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;}
@media only screen and (min-width:992px){
.about_about__Az2oT{-moz-box-orient:horizontal;-moz-box-direction:normal;flex-direction:row;}
}

.about_tech__qrQ88{font-family: 'Vazirmatn', sans-serif;text-align:center;}
@media only screen and (min-width:992px){
.about_tech__qrQ88{text-align:left;}
}
.about_sec__W7kO5{-moz-box-orient:vertical;-moz-box-direction:normal;flex-flow:column;max-width:1250px;}
.about_hi__C9eWr,.about_sec__W7kO5{display:-moz-box;display:flex;-moz-box-pack:center;justify-content:center;}
.about_hi__C9eWr{margin:0;-moz-box-align:center;align-items:center;}
@media only screen and (min-width:992px){
.about_hi__C9eWr{-moz-box-pack:center;justify-content:center;}
}

.about_short__WW4c4{font-weight:700;margin-bottom:2rem;display:-moz-box;display:flex;-moz-box-align:center;align-items:center;-moz-box-pack:center;justify-content:center;}
.about_short__WW4c4 span{font-weight:400;}
@media only screen and (min-width:992px){
.about_short__WW4c4{-moz-box-pack:left;justify-content:left;}
.about_half__9V_yN{width:40%;}
}
.about_half__9V_yN a{text-decoration:none;position:relative;color:#000;text-decoration:underline;}
.about_half__9V_yN a,.about_half__9V_yN a:hover{-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;}
.about_half__9V_yN a:hover{color:rgba(0,0,0,.6);}
.about_sliders__8H1Ld{display:none;}
@media only screen and (min-width:992px){
.about_sliders__8H1Ld{display:-moz-box;display:flex;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;grid-gap:2rem;gap:2rem;padding:3rem 0 0;}
}
.about_slidersMobile__shB0C{display:-moz-box;display:flex;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;grid-gap:2rem;gap:2rem;padding:1rem 0 0;}
@media only screen and (min-width:992px){
.about_slidersMobile__shB0C{display:none;}
}
.slider_slider__u3MkS{height:100px;margin:auto;overflow:hidden;position:relative;width:100vw;-moz-box-align:center;align-items:center;}
.slider_slider__u3MkS,.slider_track__omTED{display:-moz-box;display:flex;}
.slider_slide__koZFg{width:250px;height:100px;display:-moz-box;display:flex;-moz-box-pack:center;justify-content:center;-moz-box-align:center;align-items:center;}
.slider_slide__koZFg img{height:3rem;}
.link_link__GQmM4{border-radius:10px;}
.projects_projects__bBq2K{max-width:1250px;margin:5rem 0 0;}
@media only screen and (min-width:992px){
.projects_projects__bBq2K{width:100vw;margin:15rem 0 0;}
}
.projects_projects__bBq2K h2{font-family: 'Vazirmatn', sans-serif;text-align:center;}
@media only screen and (min-width:992px){
.projects_projects__bBq2K h2{text-align:left;}
}
.projects_feed__WE9sB{display:-moz-box;display:flex;padding:2rem;grid-gap:8rem;gap:8rem;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;}
@media only screen and (min-width:992px){
.projects_feed__WE9sB{padding:5rem 0;grid-gap:5rem;gap:5rem;-moz-box-orient:horizontal;-moz-box-direction:normal;flex-direction:row;}
}
.projects_feed__WE9sB h3{font-family: 'Vazirmatn', sans-serif;margin-top:2rem;font-size:2rem;}
.projects_feed__WE9sB p{line-height:1.2;font-size:1rem;color:rgba(0,0,0,.6);margin:0;}
.projects_feed__WE9sB div{flex-basis:100%;}
.projects_feed__WE9sB div div{font-size:.8rem;flex-basis:unset;display:-moz-box;display:flex;flex-wrap:wrap;}
.projects_links__Ezfk_{display:-moz-box;display:flex;grid-gap:2rem;gap:2rem;padding:3rem 0;-moz-box-align:center;align-items:center;-moz-box-pack:center;justify-content:center;}
.projects_links__Ezfk_ a{text-decoration:none;color:#000;}
.connect_connect__cMkQL{width:100vw;max-width:1250px;margin:8rem 0;display:-moz-box;display:flex;-moz-box-align:center;align-items:center;-moz-box-pack:center;justify-content:center;}
@media only screen and (min-width:992px){
.connect_connect__cMkQL{margin:15rem 0 0;}
}
.connect_connectors__GOBPj{grid-gap:4rem;gap:4rem;}
.connect_connectors__GOBPj,.container_container__Dzq7s{display:-moz-box;display:flex;-moz-box-pack:center;justify-content:center;-moz-box-align:center;align-items:center;}
.container_container__Dzq7s{min-height:100vh;padding:0 1rem;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;}
@media only screen and (max-width:992px){
.container_container__Dzq7s{padding:0 .5rem;}
}
.container_container__Dzq7s main{padding:2rem 0 0;-moz-box-flex:1;flex:1 1;display:-moz-box;display:flex;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-moz-box-pack:center;justify-content:center;-moz-box-align:center;align-items:center;width:100%;}
@media only screen and (min-width:992px){
.container_container__Dzq7s main{padding:5rem 0;}
}
.imgbox {
  display: block;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 70%;
  margin: auto;
}